[submodule "deps/greatest"]
	path = deps/greatest
	url = https://github.com/silentbicycle/greatest.git
[submodule "deps/timer"]
	path = deps/timer
	url = https://github.com/clibs/timer.git
[submodule "deps/socket99"]
	path = deps/socket99
	url = https://github.com/silentbicycle/socket99.git
